.input-div {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.input-div > * {
	margin: 5px 0;
	padding: 5px 0;
}

.input-div > label {
	font-size: 1.1rem;
}

.input-div > input {
	font-size: 0.95rem;
	width: 100%;
	border: none;
	outline: none;
	padding: 0.8rem;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.input-div > input:focus {
	border-bottom: 2px solid coral;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.input-div > input:invalid {
	background-color: bisque;
}